*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


.options{
    display:flex;
    margin-left: 35%;
    gap:12%;
    /* border: 2px solid black; */

}
a{
    color:rgb(12, 12, 12); 
    text-decoration: none;
    font-size: 1.5rem;
    font-family: muli;
}
a:hover{
    opacity:0.6;
}
.title{
   margin-top: 0.5%;
   background-image: url("images/background.png");
   height: 30%;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: white;
   padding-left: 20%; 
   font-size: 2rem; 
}
.popular{
    margin-top: 2rem;
    margin-left: 12rem;
}
p{
    font-size: 2rem;
    font-family: oswald;
}
.image{
    display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   row-gap: 100px;
   column-gap: 20px;
   margin-left: 10rem;
   margin-right: 10rem;
   margin-top:2rem;
   /* border: 2px solid black; */
   height:40%;
}
.image::after{
    content:'';
    height:250px;
    width:150px;
}
img{
    
    height:250px;
    width:150px;
}
#press1{
    padding-top: 1em;
    padding-right: 2.5em;
    padding-bottom: 1em;
    padding-left: 2.5em;
    margin-left:45%;
    background-color:#d3d2d2;
    border-radius: 2px;
    cursor: pointer;
    color:#193767;
    font-weight: 700;
    border-radius: 0.5em;
    border:none;
}
#press1:hover{
    background-color: #193767;
    color: #d3d2d2;
}


